.how {
  width: 100%;
  background-color: #000;
  color: white;
}

.how__title_container {
  margin: 0 0 0 20px;
  padding: 0;
}

.how__title {
  font-family: "EB Garamond", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 115%;
  margin: 0;
  padding: 0;
}

.how__title_right {
  text-align: end;
  margin: 40px 20px 0 0;
}

.how__subtitle {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 135%;
  width: 320px;
  margin: 34px 0 0 20px;
  padding: 0;
}

.how__card {
  width: 319px;
  background-color: #343434;
  border-radius: 30px;
  margin: 30px auto;
  padding: 0 0 9px;
}

.how__card_image {
  width: 100px;
  margin: 20px 20px 0;
}

.how__card_name {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.3px;
  margin: 0 20px;
  padding: 8px 0 0;
}

.how__card_title {
  font-family: "EB Garamond", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.3px;
  margin: 0 20px;
  padding: 8px 0 0;
}

.how__card_title-yellow {
  font-family: "EB Garamond", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 135%;
  letter-spacing: 0.3px;
  margin: 0 20px;
  padding: 22px 0 0;
}

.how__card_text {
  font-size: 16px;
  line-height: 21.6px;
  width: 279px;
  margin: 12px 20px;
  padding: 0;
}

.how__card_text-yellow {
  font-size: 16px;
  line-height: 21.4px;
  width: 279px;
  margin: 10px 20px;
  padding: 0;
}
